---
layout: page-div
title: Aerospike Management Console (AMC)
description: Learn what features are available in the Community and Enterprise editions of the Aerospike Management Console.
---
<section id="description">
  <div class="container">
    <div class="row">
      <div class="medium-5 columns">
        The Aerospike Management Console (AMC) is a web-based tool to monitor/manage an Aerospike cluster. It provides live updates to the current status of a cluster. It comes in 2 editions.

        <p>
          <h4>AMC Community Edition</h4>
          The AMC Community Edition is free for use to anyone. It includes features to let you see at a glance the throughput, storage usage, and configuration of a cluster.
        </p>

        <p>
          <h4>AMC Enterprise Edition</h4>
          For those on the Enterprise Edition of the database, there is an Enterprise Edition of the AMC that includes additional features for additional alerts and management of a cluster.
        </p>

        <p>
          NOTE: The table on the right shows the features of each edition.
        </p>

        <br/>
        <p>
          <h3>Next Step</h3>
          <ul>
            <li> <a href="/docs/amc/install">Install Aerospike Management Console</a>
          </ul>
        </p>

      </div>
      <div class="medium-5 columns">
        <table>
          <tr>
            <th>Feature Name</th>
            <th>Community</th>
            <th>Enterprise</th>
          </tr>
          <tr>
            <td>Cluster Disk Usage</td>
            <td>&#x2713;</td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Cluster RAM Usage</td>
            <td>&#x2713;</td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Cluster Summary</td>
            <td>&#x2713;</td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Cluster Throughput</td>
            <td>&#x2713;</td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Nodes</td>
            <td>&#x2713;</td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Namespaces</td>
            <td>&#x2713;</td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Definitions</td>
            <td>&#x2713;</td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Jobs [Running Jobs]</td>
            <td>&#x2713;</td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Change Cluster</td>
            <td>&#x2713;</td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Node Selection</td>
            <td>&#x2713;</td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Alert Activity</td>
            <td></td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Admin Login</td>
            <td></td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Alerts</td>
            <td></td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>XDR</td>
            <td></td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Latency Charts</td>
            <td></td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Admin-Console</td>
            <td></td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Cluster Backup</td>
            <td></td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Cluster Restore</td>
            <td></td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>AMC Update Interval</td>
            <td></td>
            <td>&#x2713;</td>
          </tr>
          <tr>
            <td>Edit Configuration</td>
            <td></td>
            <td>&#x2713;</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</section>

